* {
	margin: 0px;
	padding: 0px;
}

.background, .s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.blocker {
	position: absolute;
	left: 0px;
    top: 0px;
	width: 1080px;
	height: 810px;
	z-index: 5;
}
    
.canvas-wrapper {
    position: absolute;
  left: 170px;
  top: 251px;
  width: 738px;
  height: 396px;
	z-index: 10;
}
    
canvas {
    position: absolute;
  left: 0px;
  top: 0px;
  width: 738px;
  height: 396px;
    touch-action: none;
	z-index: 10;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  15%, 50%, 95% {
    opacity: 1;
  }
}