*{
margin: 0px;
padding: 0px;
}

.begin {
position: absolute;
left: 42px;
top: 510px;
width: 379px;
height: 110px;
animation: slideInLeft 0.1s;
animation-delay: 0.5s;
animation-fill-mode: both;
z-index: 20;
}

.s1 {
position: absolute;
width: 1080px;
height: 810px;
z-index: 1;
}

.s2 {
position: absolute;
left: 62px;
top: 25px;
width: 176px;
height: 63px;
animation: zoomIn 0.5s;
animation-delay: 0.1s;
animation-fill-mode: both;
transform-origin: top left;
z-index: 5;
}

.s3 {
position: absolute;
left: 60px;
top: 140px;
width: 529px;
height: 101px;
animation: fadeInRight 0.5s;
animation-delay: 0.1s;
animation-fill-mode: both;
z-index: 5;
}

.s4 {
position: absolute;
left: 62px;
top: 261px;
width: 630px;
height: 101px;
animation: fadeInRight 0.5s;
animation-delay: 0.2s;
animation-fill-mode: both;
z-index: 5;
}

.s5 {
position: absolute;
left: 61px;
top: 396px;
width: 361px;
height: 93px;
animation: zoomIn 0.5s;
animation-delay: 0.5s;
animation-fill-mode: both;
z-index: 5;
}

.s6 {
position: absolute;
left: 57px;
top: 533px;
width: 349px;
height: 72px;
animation: pulse 1s infinite;
animation-delay: 1s;
animation-fill-mode: both;
z-index: 5;
}